@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
   font-family: 'Roboto', sans-serif;
    background-color: #F9FAFB;
    line-height: 1.6;
}
ul{
   list-style: none;
}
a{text-decoration: none;}
h1, h2{
   font-weight: 400px;
   line-height: 1.2;
   margin: 10px 0;
}
p{
   margin:10px 0 ;
}
body{
   background-color: #F9FAFB;
   box-sizing: border-box;
}